meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
title webpack template
section
  .wrapper
    h1 Hello :)
    a(href='https://github.com/maxnnn1900/webpack-template')
      img(src='/assets/img/logo.png' alt='webpack template')